/* 
* @Author: root1
* @Date:   2015-03-19 11:44:51
* @Last Modified by:   root1
* @Last Modified time: 2015-03-20 17:40:22
*/
h1, h2,h3, p{	font-family: 'Oswald', sans-serif !important;
}
h1, h3 { text-shadow: 2px 3px black;
    color:white !important;}
body{
	text-align:center;
}
.a{
	background:red;
	height:50px;
	width:50px;
}
.parallax-window {
    min-height: 350px;
    background: transparent;
}
.content{
	border-top:thick double black;
		border-bottom:thick double black;

	font:white;
	padding:5% 5% 5% 5%;
	background-color:#39CCCC;
	opacity:0.9;

}